.search-bar {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.search-bar input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-bar button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

/*.profile-section {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 5px;
}*/


.cart-section {
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.diet-plan-container {
	margin: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.diet-plan-container h3 {
	margin-bottom: 20px;
}

.diet-plan-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.diet-plan-container ul li {
	margin-bottom: 10px;
}

.diet-plan-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Recommended-Restaurants-container {
	margin: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.Recommended-Restaurants-container h3 {
	margin-bottom: 20px;
}

.Recommended-Restaurants-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Recommended-Restaurants-container ul li {
	margin-bottom: 10px;
}

.Recommended-Restaurants-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.recipe-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}
