/* Signup.css */
.signup-container {
	padding-top: 50px;
	width: 100%;
	height: 100vh;
	background-color: #f8f8f8;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 10px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/* button[type="submit"]:hover {
	background-color: #fff;
	color: #000;
} */

.form-container {
	width: 400px;
	height: 500px;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	/* background-color: #f8f8f8; */
	/* INFO : custom scroll bar */
}

.field-container {
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	width: auto;
	align-items: center;
}

.dropdown-menu {
	width: 160px;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-redirect-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #aaa;
}

::-webkit-scrollbar-thumb {
	background: #393812;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
	background: #000;
}
